<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @order.surname %>
</p>

<p>
  <b>Middlename:</b>
  <%= @order.middlename %>
</p>

<p>
  <b>Address:</b>
  <%= @order.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @order.phone %>
</p>

<p>
  <b>Comment:</b>
  <%= @order.comment %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
