<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
<div class="carts">
<div class="cart_title">Ваша корзина:</div>
<table>
	<% @cart.line_items.each do |item| %>
		<tr>
			<td><%= item.quantity %> &times;</td>
			<td><%= item.item.title %></td>
			<td class="item_price"><%= number_to_currency(item.total_price) %></td>		 
		</tr>
	<% end %>
		<tr class="total_line">
			<td colspan="2">Всего:</td>
			<td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
		</tr>
</table>

<%= button_to 'Очистить корзину', @cart, method: :delete, data: { confirm: 'Вы уверены?' } %>

<%#= link_to 'Edit', edit_cart_path(@cart) %> 
<%= link_to 'Back', store_path %>
</div>