<div class="store">
<% @items.each do |i| %>
	<div class="entry">
		<%= image_tag(i.image_url) %>
		<h3><%= i.title %></h3>
		<p><%= sanitize(i.description) %></p>
		<div class="price_line"> 
			<span class="price"><%= number_to_currency(i.price) %></span>
			<%= button_to 'В корзину', line_items_path(item_id: i) %>
		</div>
	</div>
<% end %>
</div>