<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <title>Int's site<%= "| #{@page_title}" if @page_title %></title>
    <%= stylesheet_link_tag 'reset', 'public', 'store', 'carts' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>    
  </head>
  <body>
    <div class="container">
      <header>
        <hgroup>
          <img src="#"  />
          <h1>Наш телефон: ххх-хх-хх</h1>
          <a href="#">Заказать обратный звонок</a>
          <h1>ICQ: XXX-XXX-XXX</h1>
        </hgroup>
        <section>
          <h1>Корзина:</h1>
          <img src="#" />
        </section>
      </header>
      <nav>
        <ul>
          <li><a href="#">Главная</a></li>
          <li><a href="#">Акции</a></li>
          <li><a href="#">Комплекты одежды</a></li>
          <li><a href="#">Оплата</a></li>
          <li><a href="#">Доставка</a></li>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Как оформить заказ</a></li>
        </ul>
      </nav>

      <div class="main">    
        <div class="sideBarL">Категории:</div>
        <div class="sideBarR">Акции:</div>
        <div class="content">Страница товара:<%= yield %></div>
      </div>  

      <div class="clear"></div>

      <footer>
        <section class="footer1"><a href="#">Инфо</a></section>
        <section class="footer2"><a href="#">Контакты</a></section>
        <section class="footer3"><a href="#">Карта сайта</a></section>
        <section class="footer4"><a href="#">Помощь</a></section>
        <section class="footer5"><a href="#">xenik</a></section>
        <section class="footer5"><a href="/signin">Админка</a></section>
      </footer>
    </div>
    <!--
    <div id="header">
      <h1>Simple CMS</h1>
    </div>
    <div id="main">
      
      <div id="content">
        <%#= yield %>
      </div>
      <div class="clear"></div>
    </div>
    <div id="footer">
      <p id="copyright">&copy; vk.com/xenik / Sergey Shibut</p>
    </div>
  -->
  </body>
</html>
